:root {
    /* Midnight */
    --bg-color: #000;
    --menu-bg-color: #111111;
    --text-color: #fff;
    --text-highlight: #FFA8D9;
    --gradient: linear-gradient(to bottom right, rgba(119, 81, 109, 1) 25%, rgba(200, 134, 184, 1) 100%);
}

[data-theme="Midnight"] {
    --bg-color: #000;
    --menu-bg-color: #111111;
    --text-color: #fff;
    --text-highlight: #FFA8D9;
    --gradient: linear-gradient(to bottom right, rgba(119, 81, 109, 1) 25%, rgba(200, 134, 184, 1) 100%);
}

[data-theme="Blossom"] {
    --bg-color: #fff;
    --menu-bg-color: #EEEEEE;
    --text-color: #000;
    --text-highlight: #FF66BF;
    --gradient: linear-gradient(90deg, rgba(214, 149, 198, 1) 25%, rgba(255, 173, 237, 1) 100%);
}

[data-theme="Pear"] {
    --bg-color: #fff;
    --menu-bg-color: #EEEEEE;
    --text-color: #000;
    --text-highlight: #FF66BF;
    --gradient: linear-gradient(90deg, rgba(214, 149, 198, 1) 25%, rgba(255, 173, 237, 1) 100%);

    --cursor-offsetX: 0px;
    --cursor-offsetY: 0px;
}

[data-theme="Pear"] body {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  background-image: url("/assets/themes/pear/pearto-bg.gif");
  background-size: 100% 100%;
}

[data-theme="Pear"] img, #cursor {
  background-color: transparent !important;
  content: url("/assets/themes/pear/pear.gif") !important;
}

/*
--bg-image: none;
--click-sound: none;
cursor: url(''), auto;
*/