:root {	
    --bg-color: #000;
	--menu-bg-color: #111111;
    --text-color: #fff;
    --text-highlight: #FFA8D9;
}

* {
    font-family: Pretendard, apple-system, system-ui, "Helvetica", "Arial", sans-serif;
}

.nav {
    margin-top: 2rem;
    display: flex;
    flex: 1 1 0%;
    justify-content: flex-end;
    gap: 10px;
}

body {
    margin: 0;
    padding: 0 1rem 0rem 1rem;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--bg-color);
	transition: filter 0.5s ease;
}

.main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.main div, footer {
    flex: 1;
    width: 100%;
    max-width: 75ch;
}

a, .text-highlight {
    color: var(--text-highlight);
    text-decoration: none;
}

.text-normal {
    color: var(--text-color);
}

a:hover {
    text-decoration: underline;
}

ul {
    padding: 1rem;
}

.profile {
	width: 100px;
	height: 100px;
	background: var(--bg-color);
    border-radius: 50%;
}

button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.settingsbutton {
  cursor: pointer;
  appearance: none;
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 6px 6px 6px 6px;
  font-size: 20px;
}

.settings {
  position: absolute;
  right: 93.5%;
  bottom: 2.5%;
}

.settings:hover{
    -webkit-filter: invert(100%) !important;
}

dialog {
	opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
	transform: scale(0.1, 0.1);
	background-color: var(--menu-bg-color);
	border-radius: 6px 6px 6px 6px;
	border: 0px;
}

.blur {
    filter: blur(2px);
}